# dependencies
node_modules
.pnp
.pnp.js

# next.js
.next
out

# nestjs
dist

# prisma
prisma/migrations

# env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# editor
.vscode
.idea
