.main {
    padding: 20px;
    max-width: 60vw;
    margin: auto;

    .heading {
        font-size: 28px; 
        font-weight: 700;
    }

    .datePicker {
        margin: 10px 0;

        label {
            margin: 5px 0;
            opacity: 0.8px;
            display: block;
        }

        input {
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #ddd;
        }
    }

    .timePicker {
        margin: 20px 0;

        .slots {
            display: grid;
            gap: 10px;
            margin: 10px 0;
            grid-template-columns: auto auto auto;
        }

        .slot {
            padding: 12px;
            border-radius: 10px;
            border: 1px solid #686868;
            background-color: #7b7b7b;
            text-align: left;
            cursor: pointer;
        }
    }
}