.main{
    max-width: 60vw;
    margin: auto;
    padding: 20px;

    .heading {
        font-size: 28px; 
        font-weight: 700;
    }

    .servicesList {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 20px 0;
    }

    .serviceItem {
        border: 1px solid gray;
        border-radius: 10px;
        padding: 15px;
        text-decoration: none;
    }

    .serviceName {
        font-size: 18px;
        font-weight: 600;
    }

    .serviceDetails {
        margin-top: 5px;
        opacity: 0.8;
    }
}