.main {
    max-width: 60vw;
    margin: auto;
    padding: 20px;

    .heading {
        font-size: 28px;
        font-weight: 700;
    }

    .bookings {
        margin: 16px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .bookItem {
        border: 1px solid #e5e5e5;
        border-radius: 15px;
        padding: 14px;
        display: flex;
        justify-content: space-between;
        gap: 12px;
        align-items: center;

        .clientName {
            opacity: 0.8;
            margin-top: 10px
        }

        .appointmentBtn {
            padding: 10px 12px;
            border-radius: 12px;
            border: 1px solid #e5e5e5;
            background: #f5f5f5;
        }

        .confirmed {
            background-color: white;
            cursor: pointer;
        }
    }
}